agate
annotated-types
appdirs
attrs
babel
certifi
cffi
chardet
charset-normalizer
cli-helpers[styles]
click
colorama
configobj
dbt-core
dbt-duckdb
dbt-extractor
dbt-semantic-interfaces
diff-cover
duckcli
duckdb
exceptiongroup
idna
importlib-metadata
importlib-resources
iniconfig
isodate
jinja2
jsonschema
jsonschema-specifications
leather
logbook
markupsafe
mashumaro[msgpack]
minimal-snowplow-tracker
more-itertools
msgpack
networkx
packaging
parsedatetime
pathspec
pkgutil-resolve-name
pluggy
prompt-toolkit
protobuf
pycparser
pydantic
pydantic-core
pygments
pytest
python-dateutil
python-slugify
pytimeparse
pytz
pyyaml
referencing
regex
requests
rpds-py
six
sqlfluff
sqlparse
tabulate[widechars]
tblib
text-unidecode
toml
tomli
tqdm
typing-extensions
urllib3
wcwidth
zipp
python-dotenv
dbt-mysql
dbt-dotenv